.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logo {
    max-height: 32px;
}

.title-group {
    padding-left: 25px;
}

.title-group i {
    padding-right: 5px;
} 